{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'mcdelivery/style.css' %}" />
{% if orders %}
    <ul>
    {% for order in orders %}
        <a href={%url 'detail' order.id %}>
            <div class="textbox">
                <u><h2>{{order.customer}}</h2></u>
                {{order.contact_number}}<br>
                {{order.address}}<br>
                <p>Click for more details.</p>
            </div>
        </a>
    {% endfor %}
    </ul>
{% else %}
    <p>No orders are available.</p>
{% endif %}